<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
</head>
<body>
    <a href="login.html">Voltar</a>
    <form action="login.php">
        <label for="user">Usuário:</label>
        <input type="text" name="user" id="user">
        <label for="pass">Senha:</label>
        <input type="password" name="pass" id="pass">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>